html {
    font-family: Arial, Helvetica, sans-serif;
}
#logoProfile {
    display: flex;
    justify-content: space-between;
}
#logoBox, #profileBox, button {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid white;
    letter-spacing: .5px;
  }
h1 {
    text-align: center;
    color: white;
}
.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.dogs {
    display: flex;
    height: 200px;
    width: 250px;
    padding-right: 10px;
    padding-left: 10px;
}
p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 75px;
    margin-top: 5px;
}
h3 {
    display: inline-block;
    margin-right: 45px;
    margin-left: 45px;
    text-align: center;
    padding-right: 40px;
    padding-left: 10px;
}
body {
    background-image: url("dogsplaying.jpeg");
    background-position: center;
    padding: 20px;
  }
#background {
    z-index: -1;
}
#background2 {
    background-color: white;
    border-radius: 15px;
    padding: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
h2 {
    text-align: center;
    color: #f37545;
    font-weight: 800;
}

h3 {
  color: #01b7c2;
}

a:link {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff571a;
}
a:visited {
  color: white;
}
@media only screen and (max-width: 480px){
    body {
        display: flex;
        flex-direction: column;
    }
}
